body {
  background-color: #2c3e50;
  margin: 0;
  padding: 0;
  background-image: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.eye {
  width: 200px;
  height: 200px;
  background: white;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  border-radius: 75% 0;
  overflow: hidden;
}

.ball {
  width: 40px;
  height: 40px;
  background: #c0392b;
  border-radius: 50%;
  border: 30px solid #e74c3c;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shut {
  width: 300px;
  height: 160px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 999;
}

.shut span {
  display: block;
  width: 100%;
  height: 15%;
  background: #7f8c8d;
  border-radius: 0 0 60% 60%;
  transition: 0.4s all;
}

.eye:hover > .shut span {
  height: 100%;
}

.talkingpoints {
  font-weight: 100;
  font-size: 25px;
  color: #ffffff;
  text-shadow: 0 1px 0 black;
  font-family: 'Carrois Gothic', sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: 15em;
  margin-top: 4.5em;
  text-align: center;
  text-decoration: none;
}

.talkingpoints a:link, a:visited, a:active {
  color: #ffffff;
}

.talkingpoints a:hover {
  color: #d4d4d4;
}


.title {
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 4.5em;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 75px;
}

.title:before {
  content: "APOSTLE";
  color: white;
  font-size: 1.25em;
}

.title:after {
  content: "AI";
  color: #c0392b;
}

.messageContainer {
  bottom: 20px;
  left: 25%;
  position: absolute;
}

.chat {
  height: 350px;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  border: 0;
  padding: 15px;
  margin: 1em;
  border-radius: 10px;
  width: 30%;
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
}
input::placeholder {
  color: white;
}

button {
  background-color: rgba(0, 0, 0, 0.55);
  color: white;
  margin: 2px;
}

#msgSpan {
  padding-right: 15px;
  padding-left: 15px;
}

.messages {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  height: 90%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.55);
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.messages::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

#user {
  margin-left: auto;
}

.bot {
  font-family: "Carrois Gothic", sans-serif;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.response {
  display: flex;
  align-items: center;
  margin: 1%;
  font-size: 20px;
  font-family: "Carrois Gothic", sans-serif;
  color: white;
  border-radius: 10px;
}

.box {
  background: #c03a2b88;
  padding: 10px;
  color: #fff;
  position: relative;
}

.sb1:before {
  content: "";
  position: absolute;
  border-left: 10px solid #c03a2b88;
  border-right: 10px solid transparent;
  border-top: 10px solid #c03a2b88;
  border-bottom: 10px solid transparent;
  right: -20px;
  top: 8px;
}

.sb2:before {
  content: "";
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid #c03a2b88;
  border-top: 10px solid #c03a2b88;
  border-bottom: 10px solid transparent;
  left: -20px;
  top: 8px;
}
